<nav class="navbar">
    <div class="nav-container">

        <button class="nav-toggle" aria-label="Open menu">☰</button>

        <!-- <a href="index.html" class="nav-logo">Dermoree</a> -->

        <a href="index.html" class="nav-logo">
            <img src="assets/images/dermore/Horizontal-Logo-G.svg" alt="Dermoree">
        </a>

        <!-- DESKTOP MENU -->
        <ul class="nav-menu">
            <li><a href="product.html">PRODUCT</a></li>
            <li><a href="ourstory.html">OUR STORY</a></li>
            <li><a href="ingredients.html">INGREDIENTS</a></li>
            <li><a href="clinical.html">TESTIMONY & SCIENTIFIC REVIEW</a></li>

        </ul>

    </div>
</nav>

<!-- MOBILE DRAWER -->
<div class="mobile-menu">
    <div class="mobile-header">
        <!-- <span>Dermoree</span> -->
        <a href="index.html" class="nav-logo">
            <img src="assets/images/dermore/Horizontal-Logo-G.svg" alt="Dermoree">
        </a>

        <button class="close-menu">×</button>
    </div>

    <ul class="mobile-nav">
        <li><a href="product.html">PRODUCT</a></li>
        <li><a href="ourstory.html">OUR STORY</a></li>
        <li><a href="ingredients.html">INGREDIENTS</a></li>
        <li><a href="clinical.html">TESTIMONY & SCIENTIFIC REVIEW</a></li>
        <!-- <li><a href="#contact">Contact</a></li> -->
    </ul>
</div>