/* ======================================================
   Dermoree GLOBAL STYLE
   ====================================================== */
   @import "01-variables.css";
   @import "02-reset-base.css";
   @import "03-layout-global.css";
   @import "04-hero.css";
   @import "05-components.css";
   @import "06-navbar-footer.css";
   @import "07-responsive.css";
   
